/* src/sidepanel/sidepanel.css */
@import url("../utility/config.css");


/* Stili del Container */
.container {
  background-color: transparent;
  font-family: var(--font-primary);
  margin: 16px auto;
  padding: 0 16px;
  max-width: 900px;
  width: 90%;
}

